<form method="POST" action="/predict">
<html>
 <head>
 <title>
Form in HTML
</title>
</head>  
<h2 align="center"> Machine Learning Model using UnSupervised Algorithm - Isolation Forest</h2>
  <hr>
  <form>
  <center>
  <form>
  <center>
<body bgcolor="White" teXt="Black">
<table cellpadding="5opX"border="1pX">
  <tr><td>Annual_Income: </td><td><input type="teXt" name="Annual_Income"/></td></tr>
  <tr><td>Spending_Score: </td><td><input type="teXt" name="Spending_Score"/></td></tr>
  <tr><td>Model_Choice: </td><td><select id="role" name="Model_choice">
                      <option value="logitmodel">Isolation_Forest</option>
					  
                       
                    </select></td></tr>
  <tr><td colspan="2"><input type="Submit" value="Predict"><button>Clear</button> <br>
  <p> Anomaly Score : {{ anomaly_score  }}</p>
  <p> Predicted result : {{ result_prediction  }}</p></td></tr>

  
  </table>
  
  </center>
  </form>
  </form>
  
  
  
  
  
  
  
  
  
  
  
  
  
